<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935383251440-febnqugkk6s0kmu20750vdsisvfh0hn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935383251440-febnqugkk6s0kmu20750vdsisvfh0hn3</string>
	<key>API_KEY</key>
	<string>AIzaSyAOmwlCGJXeBv9B3zoAGwDHPrF3T7laZfw</string>
	<key>GCM_SENDER_ID</key>
	<string>935383251440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-2-yt-7a71b</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-2-yt-7a71b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935383251440:ios:83764565a519a6e0378535</string>
</dict>
</plist>